#firstlineqq{

  position: absolute;
  margin-top: 14%;
  margin-left: 12%;
}
#generacode{
  height: 3500px;
  display: flex;
  left:22%;
  top: 20%;
}
#gradieninputsq{
  position: absolute;
  background: radial-gradient(82.92% 82.92% at 81.99% 10.25%, #5AB0C9 0%, #A750FF 48.8%, #F66692 99.48%);
  border-radius: 50%;
  /*  left:27px;
    top:26px;*/
  width: 87px;
  margin:3% 25%;
  height: 87px;
  z-index: 2;
}
#maintextq{
  width:77%;
  position: relative;
  margin-top:3%;
  font-family: 'Ubuntu', serif;
  text-align: center;
  font-size: 36px;
  line-height: 41px;
  color:#FFFFFF;

}
.manuelement{
 position: relative;
  height: 65%;
  width: 65%;
  margin-top: 16%;
  margin-left: 18%;
}
.manuelementq{
  position: relative;
  height: 65%;
  width: 65%;
  margin: 0 auto;
}
.mtext{
  position: absolute;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 23px;
  line-height: 21px;
  letter-spacing: 0.04em;

  color: #FFFFFF;

}

#purposetext{
  position: absolute;
  width: 75%;
  margin-left: 12%;
  margin-top:17%;
}

.gradieninputsq{
  background: radial-gradient(82.92% 82.92% at 81.99% 10.25%, #5AB0C9 0%, #A750FF 48.8%, #F66692 99.48%);
  border-radius: 50%;
  /*  left:27px;
    top:26px;*/
  width: 87px;
  justify-content: center;
  margin: 8% auto;
  height: 87px;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.gradieninputsqz{
  background: radial-gradient(82.92% 82.92% at 81.99% 10.25%, #5AB0C9 0%, #A750FF 48.8%, #F66692 99.48%);
  border-radius: 50%;
  /*  left:27px;
    top:26px;*/
  width: 20%;
  justify-content: center;
  margin-top: 9%;
  height: 105%;
  display: flex;
  flex-direction: column;
  position: relative;
}


.hovertext,.gradieninputsqz{
  box-sizing: border-box;
}
.ht{
  position: relative;
  font-family: 'Ubuntu', serif;
  text-shadow: 1px 2px 22px rgba(255, 255, 255, 0.29);
  text-align: center;
  font-size: 24px;
  line-height: 41px;
  margin-top: 22%;
  color:#FFFFFF;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#z{
  margin-left: 0%;
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.hovertext > .ht{
  opacity: 0;


}
.aa:hover ~ .hovertext > .ht  {
  -webkit-animation: fade-in 0.5s;
  opacity: 1;
}
.aa:not(hover) ~ .hovertext > .ht{
  -webkit-animation: fade-out 0.5s;
  opacity: 0;
}
#generalq{
  height: 970px;
  display: flex;
  left:22%;
  top: 20%;
}
#secondcircleq{
  position:absolute;
  left: 71%;
  top: 106%
}
#generalz{
  height: 770px;
  display: flex;
  left:22%;
  top: 20%;
}
#secondcirclez{
  position:absolute;
  left: 71%;
  top:89%;
}
.blockscheme{
  margin-left: 14%;
  border-radius: 35px;
  box-shadow: 0px 0px 21px 2px rgba(255, 255, 255, 0.25);
  padding: 1%;
  background: linear-gradient(85.5deg, rgba(17, 0, 0, 0.34) 0%, rgba(167, 80, 255, 0.85) 0.01%, rgba(90, 176, 201, 0.85) 100%);

}

#generala{
  height: 1250px;
  display: flex;
  left:22%;
  top: 20%;
}
#secondcircleh{
  position:absolute;
  left: 71%;
  top:136%;
}
#Lab1{
  border-radius: 35px;
  box-shadow: 0px 0px 21px 2px rgba(255, 255, 255, 0.25);
  padding: 1%;
  background: linear-gradient(85.5deg, rgba(17, 0, 0, 0.34) 0%, rgba(167, 80, 255, 0.85) 0.01%, rgba(90, 176, 201, 0.85) 100%);
  width:100%;
}
#secondcircleq{
  position:absolute;
  left: 71%;
  top:100%;
}
#generalaq{
  height: 900px;
  display: flex;
  left:22%;
  top: 20%;
}
#maintextqz{
  width:77%;
  position: relative;
  margin-top:5%;
  margin-left: 11%;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 29px;
  color:#FFFFFF;
}
#generalqzz{
  height: 1000px;
  display: flex;
  left:22%;
  top: 20%;
}
#generalqzzz{
  height: 1500px;
  display: flex;
  left:22%;
  top: 20%;
}
#maintextqqq{
  width:100%;
  position: relative;
  margin-top:5%;
  font-family: 'Ubuntu', serif;
  text-align: center;
  font-size: 36px;
  line-height: 41px;
  color:#FFFFFF;
}
